@charset "UTF-8";
@font-face {
  font-family: 'fidelity-icon-font';
  src: url("fonts/fidelity-icon-font.eot?tgih9b");
  src: url("fonts/fidelity-icon-font.eot?tgih9b#iefix") format("embedded-opentype"), url("fonts/fidelity-icon-font.woff2?tgih9b") format("woff2"), url("fonts/fidelity-icon-font.ttf?tgih9b") format("truetype"), url("fonts/fidelity-icon-font.woff?tgih9b") format("woff"), url("fonts/fidelity-icon-font.svg?tgih9b#fidelity-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon_ {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fidelity-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.chevron-d-bold:before {
  content: ""; }

.chevron-d-light:before {
  content: ""; }

.chevron-d-regular:before {
  content: ""; }

.chevron-l-bold:before {
  content: ""; }

.chevron-l-light:before {
  content: ""; }

.chevron-l-regular:before {
  content: ""; }

.chevron-r-bold:before {
  content: ""; }

.chevron-r-light:before {
  content: ""; }

.chevron-r-regular:before {
  content: ""; }

.chevron-u-bold:before {
  content: ""; }

.chevron-u-light:before {
  content: ""; }

.chevron-u-regular:before {
  content: ""; }

.cross-bold:before {
  content: ""; }

.cross-light:before {
  content: ""; }

.cross-regular:before {
  content: ""; }

.plus-bold:before {
  content: ""; }

.plus-light:before {
  content: ""; }

.plus-regular:before {
  content: ""; }

.pdf-small:before {
  content: ""; }

.external-link:before {
  content: ""; }

.tick-bold:before {
  content: ""; }

.tick-light:before {
  content: ""; }

.tick-regular:before {
  content: ""; }

.triangle-u:before {
  content: ""; }

.triangle-d:before {
  content: "󩡓"; }

.triangle-r:before {
  content: ""; }

.triangle-l:before {
  content: ""; }

.cog-14:before {
  content: ""; }

.globe-14:before {
  content: ""; }

.lock-14:before {
  content: ""; }

.calendar-14:before {
  content: ""; }

.coinstack-14:before {
  content: ""; }

.medal-14:before {
  content: ""; }

.calendar-plus-14:before {
  content: ""; }

.person-filled-14:before {
  content: ""; }

.search-14:before {
  content: ""; }

.mappin-filled-14:before {
  content: ""; }

.info-circle-filled-14:before {
  content: ""; }

.info-circle-14:before {
  content: ""; }

.warning-triangle-filled-14:before {
  content: ""; }

.warning-triangle-14:before {
  content: ""; }

.clock-14:before {
  content: ""; }

.computer-14:before {
  content: ""; }

.exit-left-14:before {
  content: ""; }

.person-circle-filled-14:before {
  content: ""; }

.download-14:before {
  content: ""; }

.squares-overlap-14:before {
  content: ""; }

.card-cvc:before {
  content: ""; }

.clipboard-tick:before {
  content: ""; }

.verified:before {
  content: ""; }

.newspaper:before {
  content: ""; }

.factsheet-full:before {
  content: ""; }

.letter-open:before {
  content: ""; }

.post:before {
  content: ""; }

.spyglass:before {
  content: ""; }

.search:before {
  content: ""; }

.select:before {
  content: ""; }

.person:before {
  content: ""; }

.account:before {
  content: ""; }

.check-mail:before {
  content: ""; }

.help-circle:before {
  content: ""; }

.help:before {
  content: ""; }

.person-lock:before {
  content: ""; }

.lock-account:before {
  content: ""; }

.letter:before {
  content: ""; }

.messages:before {
  content: ""; }

.smartphone:before {
  content: ""; }

.mobile:before {
  content: ""; }

.eye:before {
  content: ""; }

.watchlist:before {
  content: ""; }

.circle-tick:before {
  content: ""; }

.confirm:before {
  content: ""; }

.info-circle:before {
  content: ""; }

.info:before {
  content: ""; }

.star:before {
  content: ""; }

.star-line:before {
  content: ""; }

.star-filled:before {
  content: ""; }

.star-fill:before {
  content: ""; }

.ellipsis:before {
  content: ""; }

.menu:before {
  content: ""; }

.warning-triangle-filled:before {
  content: ""; }

.warning:before {
  content: ""; }

.warning-circle-filled:before {
  content: ""; }

.error:before {
  content: ""; }

.chart-plus:before {
  content: ""; }

.compare:before {
  content: ""; }

.circle-minus:before {
  content: ""; }

.contract:before {
  content: ""; }

.circle-plus:before {
  content: ""; }

.expand:before {
  content: ""; }

.download:before {
  content: ""; }

.export:before {
  content: ""; }

.spyglass-chart:before {
  content: ""; }

.factsheet:before {
  content: ""; }

.printer:before {
  content: ""; }

.print:before {
  content: ""; }

.refresh:before {
  content: ""; }

.cog:before {
  content: ""; }

.settings:before {
  content: ""; }

.person-plus:before {
  content: ""; }

.account-add:before {
  content: ""; }

.coins-sterling:before {
  content: ""; }

.buy:before {
  content: ""; }

.arrow-down:before {
  content: ""; }

.arrow-up:before {
  content: ""; }

.add:before {
  content: ""; }

.close:before {
  content: ""; }

.chart:before {
  content: ""; }

.market:before {
  content: ""; }

.hand-coins:before {
  content: ""; }

.sell:before {
  content: ""; }

.globe:before {
  content: ""; }

.booklet-chart:before {
  content: ""; }

.report:before {
  content: ""; }

.computer:before {
  content: ""; }

.tick:before {
  content: ""; }

.hand:before {
  content: ""; }

.movie:before {
  content: ""; }

.down-sort:before {
  content: ""; }

.up-sort:before {
  content: ""; }

.chevron-down-s:before {
  content: ""; }

.chevron-up-s:before {
  content: ""; }

.chevron-down-m:before {
  content: ""; }

.chevron-up-m:before {
  content: ""; }

.menu-burger:before {
  content: ""; }

.no-entry:before {
  content: ""; }

.square:before {
  content: ""; }

.line:before {
  content: ""; }

.droplet:before {
  content: ""; }

.droplet-line:before {
  content: ""; }

.droplet-filled:before {
  content: ""; }

.droplet-fill:before {
  content: ""; }

.droplet-alt:before {
  content: ""; }

.droplet-alt-line:before {
  content: ""; }

.droplet-alt-filled:before {
  content: ""; }

.droplet-alt-fill:before {
  content: ""; }

.circle-right:before {
  content: ""; }

.circle-wave:before {
  content: ""; }

.circle-zig:before {
  content: ""; }

.piggybank:before {
  content: ""; }

.saving:before {
  content: ""; }

.home:before {
  content: ""; }

.quantitative:before {
  content: ""; }

.hand-point:before {
  content: ""; }

.exit-right:before {
  content: ""; }

.exit:before {
  content: ""; }

.calendar:before {
  content: ""; }

.clock:before {
  content: ""; }

.person-help:before {
  content: ""; }

.other-account:before {
  content: ""; }

.lock-tick:before {
  content: ""; }

.leaf:before {
  content: ""; }

.computer-tick:before {
  content: ""; }

.smartphone-chatbubble:before {
  content: ""; }

.sms-alert:before {
  content: ""; }

.coinstack-cog:before {
  content: ""; }

.edit-income-settings:before {
  content: ""; }

.chevron-left-m:before {
  content: ""; }

.chevron-right-m:before {
  content: ""; }

.pencil:before {
  content: ""; }

.tag:before {
  content: ""; }

.medal:before {
  content: ""; }

.awards:before {
  content: ""; }

.bookmark-star:before {
  content: ""; }

.favourites:before {
  content: ""; }

.smartphone-flip:before {
  content: ""; }

.mobile-flip:before {
  content: ""; }

.back:before {
  content: ""; }

.forward:before {
  content: ""; }

.pause:before {
  content: ""; }

.stop:before {
  content: ""; }

.play:before {
  content: ""; }

.map-pin:before {
  content: ""; }

.doc-spyglass:before {
  content: ""; }

.view-docs:before {
  content: ""; }

.doc-pdf:before {
  content: ""; }

.pdf:before {
  content: ""; }

.hand-docs:before {
  content: ""; }

.compare-file:before {
  content: ""; }

.doc-stacked:before {
  content: ""; }

.group:before {
  content: ""; }

.pencil-lock:before {
  content: ""; }

.lock-edit:before {
  content: ""; }

.paperclip:before {
  content: ""; }

.attach:before {
  content: ""; }

.coinstack:before {
  content: ""; }

.currency:before {
  content: ""; }

.controlpanel:before {
  content: ""; }

.expand-filters:before {
  content: ""; }

.browser-plus:before {
  content: ""; }

.new-window:before {
  content: ""; }

.chevron-right-s:before {
  content: ""; }

.chevron-left-s:before {
  content: ""; }

.circle-filled:before {
  content: ""; }

.circle-fill:before {
  content: ""; }

.circle-dashed:before {
  content: ""; }

.circle-empty:before {
  content: ""; }

.bookmark-star-filled:before {
  content: ""; }

.favourites-filled:before {
  content: ""; }

.doc-csv:before {
  content: ""; }

.csv:before {
  content: ""; }

.logo-facebook:before {
  content: ""; }

.logo-twitter:before {
  content: ""; }

.logo-xing:before {
  content: ""; }

.logo-googleplus:before {
  content: ""; }

.logo-linkedin:before {
  content: ""; }

.logo-youtube:before {
  content: ""; }

.messages-filled:before {
  content: ""; }

.openbook:before {
  content: ""; }

.doc-chevron-r:before {
  content: ""; }

.doc-arrow-d:before {
  content: ""; }

.share:before {
  content: ""; }

.share-filled:before {
  content: ""; }

.person-double:before {
  content: ""; }

.chatbubble:before {
  content: ""; }

.chatbubble-letter:before {
  content: ""; }

.chatbubble-letter-filled:before {
  content: ""; }

.calendar-circle-plus:before {
  content: ""; }

.mappin-filled:before {
  content: ""; }

.coins-plus:before {
  content: ""; }

.coins-minus:before {
  content: ""; }

.arrows-left-right:before {
  content: ""; }

.abc-blocks:before {
  content: ""; }

.beach-umbrella:before {
  content: ""; }

.piggybank-alt:before {
  content: ""; }

.three-people:before {
  content: ""; }
