@charset "UTF-8";
@font-face {
  font-family: 'fidelity-icon-font';
  src: url("fonts/fidelity-icon-font.eot?tgih9b");
  src: url("fonts/fidelity-icon-font.eot?tgih9b#iefix") format("embedded-opentype"), url("fonts/fidelity-icon-font.woff2?tgih9b") format("woff2"), url("fonts/fidelity-icon-font.ttf?tgih9b") format("truetype"), url("fonts/fidelity-icon-font.woff?tgih9b") format("woff"), url("fonts/fidelity-icon-font.svg?tgih9b#fidelity-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon_ {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fidelity-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_.chevron-d-bold:before {
  content: ""; }

.icon_.chevron-d-light:before {
  content: ""; }

.icon_.chevron-d-regular:before {
  content: ""; }

.icon_.chevron-l-bold:before {
  content: ""; }

.icon_.chevron-l-light:before {
  content: ""; }

.icon_.chevron-l-regular:before {
  content: ""; }

.icon_.chevron-r-bold:before {
  content: ""; }

.icon_.chevron-r-light:before {
  content: ""; }

.icon_.chevron-r-regular:before {
  content: ""; }

.icon_.chevron-u-bold:before {
  content: ""; }

.icon_.chevron-u-light:before {
  content: ""; }

.icon_.chevron-u-regular:before {
  content: ""; }

.icon_.cross-bold:before {
  content: ""; }

.icon_.cross-light:before {
  content: ""; }

.icon_.cross-regular:before {
  content: ""; }

.icon_.plus-bold:before {
  content: ""; }

.icon_.plus-light:before {
  content: ""; }

.icon_.plus-regular:before {
  content: ""; }

.icon_.pdf-small:before {
  content: ""; }

.icon_.external-link:before {
  content: ""; }

.icon_.tick-bold:before {
  content: ""; }

.icon_.tick-light:before {
  content: ""; }

.icon_.tick-regular:before {
  content: ""; }

.icon_.triangle-u:before {
  content: ""; }

.icon_.triangle-d:before {
  content: "󩡓"; }

.icon_.triangle-r:before {
  content: ""; }

.icon_.triangle-l:before {
  content: ""; }

.icon_.cog-14:before {
  content: ""; }

.icon_.globe-14:before {
  content: ""; }

.icon_.lock-14:before {
  content: ""; }

.icon_.calendar-14:before {
  content: ""; }

.icon_.coinstack-14:before {
  content: ""; }

.icon_.medal-14:before {
  content: ""; }

.icon_.calendar-plus-14:before {
  content: ""; }

.icon_.person-filled-14:before {
  content: ""; }

.icon_.search-14:before {
  content: ""; }

.icon_.mappin-filled-14:before {
  content: ""; }

.icon_.info-circle-filled-14:before {
  content: ""; }

.icon_.info-circle-14:before {
  content: ""; }

.icon_.warning-triangle-filled-14:before {
  content: ""; }

.icon_.warning-triangle-14:before {
  content: ""; }

.icon_.clock-14:before {
  content: ""; }

.icon_.computer-14:before {
  content: ""; }

.icon_.exit-left-14:before {
  content: ""; }

.icon_.person-circle-filled-14:before {
  content: ""; }

.icon_.download-14:before {
  content: ""; }

.icon_.squares-overlap-14:before {
  content: ""; }

.icon_.card-cvc:before {
  content: ""; }

.icon_.clipboard-tick:before {
  content: ""; }

.icon_.verified:before {
  content: ""; }

.icon_.newspaper:before {
  content: ""; }

.icon_.factsheet-full:before {
  content: ""; }

.icon_.letter-open:before {
  content: ""; }

.icon_.post:before {
  content: ""; }

.icon_.spyglass:before {
  content: ""; }

.icon_.search:before {
  content: ""; }

.icon_.select:before {
  content: ""; }

.icon_.person:before {
  content: ""; }

.icon_.account:before {
  content: ""; }

.icon_.check-mail:before {
  content: ""; }

.icon_.help-circle:before {
  content: ""; }

.icon_.help:before {
  content: ""; }

.icon_.person-lock:before {
  content: ""; }

.icon_.lock-account:before {
  content: ""; }

.icon_.letter:before {
  content: ""; }

.icon_.messages:before {
  content: ""; }

.icon_.smartphone:before {
  content: ""; }

.icon_.mobile:before {
  content: ""; }

.icon_.eye:before {
  content: ""; }

.icon_.watchlist:before {
  content: ""; }

.icon_.circle-tick:before {
  content: ""; }

.icon_.confirm:before {
  content: ""; }

.icon_.info-circle:before {
  content: ""; }

.icon_.info:before {
  content: ""; }

.icon_.star:before {
  content: ""; }

.icon_.star-line:before {
  content: ""; }

.icon_.star-filled:before {
  content: ""; }

.icon_.star-fill:before {
  content: ""; }

.icon_.ellipsis:before {
  content: ""; }

.icon_.menu:before {
  content: ""; }

.icon_.warning-triangle-filled:before {
  content: ""; }

.icon_.warning:before {
  content: ""; }

.icon_.warning-circle-filled:before {
  content: ""; }

.icon_.error:before {
  content: ""; }

.icon_.chart-plus:before {
  content: ""; }

.icon_.compare:before {
  content: ""; }

.icon_.circle-minus:before {
  content: ""; }

.icon_.contract:before {
  content: ""; }

.icon_.circle-plus:before {
  content: ""; }

.icon_.expand:before {
  content: ""; }

.icon_.download:before {
  content: ""; }

.icon_.export:before {
  content: ""; }

.icon_.spyglass-chart:before {
  content: ""; }

.icon_.factsheet:before {
  content: ""; }

.icon_.printer:before {
  content: ""; }

.icon_.print:before {
  content: ""; }

.icon_.refresh:before {
  content: ""; }

.icon_.cog:before {
  content: ""; }

.icon_.settings:before {
  content: ""; }

.icon_.person-plus:before {
  content: ""; }

.icon_.account-add:before {
  content: ""; }

.icon_.coins-sterling:before {
  content: ""; }

.icon_.buy:before {
  content: ""; }

.icon_.arrow-down:before {
  content: ""; }

.icon_.arrow-up:before {
  content: ""; }

.icon_.add:before {
  content: ""; }

.icon_.close:before {
  content: ""; }

.icon_.chart:before {
  content: ""; }

.icon_.market:before {
  content: ""; }

.icon_.hand-coins:before {
  content: ""; }

.icon_.sell:before {
  content: ""; }

.icon_.globe:before {
  content: ""; }

.icon_.booklet-chart:before {
  content: ""; }

.icon_.report:before {
  content: ""; }

.icon_.computer:before {
  content: ""; }

.icon_.tick:before {
  content: ""; }

.icon_.hand:before {
  content: ""; }

.icon_.movie:before {
  content: ""; }

.icon_.down-sort:before {
  content: ""; }

.icon_.up-sort:before {
  content: ""; }

.icon_.chevron-down-s:before {
  content: ""; }

.icon_.chevron-up-s:before {
  content: ""; }

.icon_.chevron-down-m:before {
  content: ""; }

.icon_.chevron-up-m:before {
  content: ""; }

.icon_.menu-burger:before {
  content: ""; }

.icon_.no-entry:before {
  content: ""; }

.icon_.square:before {
  content: ""; }

.icon_.line:before {
  content: ""; }

.icon_.droplet:before {
  content: ""; }

.icon_.droplet-line:before {
  content: ""; }

.icon_.droplet-filled:before {
  content: ""; }

.icon_.droplet-fill:before {
  content: ""; }

.icon_.droplet-alt:before {
  content: ""; }

.icon_.droplet-alt-line:before {
  content: ""; }

.icon_.droplet-alt-filled:before {
  content: ""; }

.icon_.droplet-alt-fill:before {
  content: ""; }

.icon_.circle-right:before {
  content: ""; }

.icon_.circle-wave:before {
  content: ""; }

.icon_.circle-zig:before {
  content: ""; }

.icon_.piggybank:before {
  content: ""; }

.icon_.saving:before {
  content: ""; }

.icon_.home:before {
  content: ""; }

.icon_.quantitative:before {
  content: ""; }

.icon_.hand-point:before {
  content: ""; }

.icon_.exit-right:before {
  content: ""; }

.icon_.exit:before {
  content: ""; }

.icon_.calendar:before {
  content: ""; }

.icon_.clock:before {
  content: ""; }

.icon_.person-help:before {
  content: ""; }

.icon_.other-account:before {
  content: ""; }

.icon_.lock-tick:before {
  content: ""; }

.icon_.leaf:before {
  content: ""; }

.icon_.computer-tick:before {
  content: ""; }

.icon_.smartphone-chatbubble:before {
  content: ""; }

.icon_.sms-alert:before {
  content: ""; }

.icon_.coinstack-cog:before {
  content: ""; }

.icon_.edit-income-settings:before {
  content: ""; }

.icon_.chevron-left-m:before {
  content: ""; }

.icon_.chevron-right-m:before {
  content: ""; }

.icon_.pencil:before {
  content: ""; }

.icon_.tag:before {
  content: ""; }

.icon_.medal:before {
  content: ""; }

.icon_.awards:before {
  content: ""; }

.icon_.bookmark-star:before {
  content: ""; }

.icon_.favourites:before {
  content: ""; }

.icon_.smartphone-flip:before {
  content: ""; }

.icon_.mobile-flip:before {
  content: ""; }

.icon_.back:before {
  content: ""; }

.icon_.forward:before {
  content: ""; }

.icon_.pause:before {
  content: ""; }

.icon_.stop:before {
  content: ""; }

.icon_.play:before {
  content: ""; }

.icon_.map-pin:before {
  content: ""; }

.icon_.doc-spyglass:before {
  content: ""; }

.icon_.view-docs:before {
  content: ""; }

.icon_.doc-pdf:before {
  content: ""; }

.icon_.pdf:before {
  content: ""; }

.icon_.hand-docs:before {
  content: ""; }

.icon_.compare-file:before {
  content: ""; }

.icon_.doc-stacked:before {
  content: ""; }

.icon_.group:before {
  content: ""; }

.icon_.pencil-lock:before {
  content: ""; }

.icon_.lock-edit:before {
  content: ""; }

.icon_.paperclip:before {
  content: ""; }

.icon_.attach:before {
  content: ""; }

.icon_.coinstack:before {
  content: ""; }

.icon_.currency:before {
  content: ""; }

.icon_.controlpanel:before {
  content: ""; }

.icon_.expand-filters:before {
  content: ""; }

.icon_.browser-plus:before {
  content: ""; }

.icon_.new-window:before {
  content: ""; }

.icon_.chevron-right-s:before {
  content: ""; }

.icon_.chevron-left-s:before {
  content: ""; }

.icon_.circle-filled:before {
  content: ""; }

.icon_.circle-fill:before {
  content: ""; }

.icon_.circle-dashed:before {
  content: ""; }

.icon_.circle-empty:before {
  content: ""; }

.icon_.bookmark-star-filled:before {
  content: ""; }

.icon_.favourites-filled:before {
  content: ""; }

.icon_.doc-csv:before {
  content: ""; }

.icon_.csv:before {
  content: ""; }

.icon_.logo-facebook:before {
  content: ""; }

.icon_.logo-twitter:before {
  content: ""; }

.icon_.logo-xing:before {
  content: ""; }

.icon_.logo-googleplus:before {
  content: ""; }

.icon_.logo-linkedin:before {
  content: ""; }

.icon_.logo-youtube:before {
  content: ""; }

.icon_.messages-filled:before {
  content: ""; }

.icon_.openbook:before {
  content: ""; }

.icon_.doc-chevron-r:before {
  content: ""; }

.icon_.doc-arrow-d:before {
  content: ""; }

.icon_.share:before {
  content: ""; }

.icon_.share-filled:before {
  content: ""; }

.icon_.person-double:before {
  content: ""; }

.icon_.chatbubble:before {
  content: ""; }

.icon_.chatbubble-letter:before {
  content: ""; }

.icon_.chatbubble-letter-filled:before {
  content: ""; }

.icon_.calendar-circle-plus:before {
  content: ""; }

.icon_.mappin-filled:before {
  content: ""; }

.icon_.coins-plus:before {
  content: ""; }

.icon_.coins-minus:before {
  content: ""; }

.icon_.arrows-left-right:before {
  content: ""; }

.icon_.abc-blocks:before {
  content: ""; }

.icon_.beach-umbrella:before {
  content: ""; }

.icon_.piggybank-alt:before {
  content: ""; }

.icon_.three-people:before {
  content: ""; }
