@import "variables";

@font-face {
  font-family: 'fidelity-icon-font';
  src:  url('#{$icomoon-font-path}/fidelity-icon-font.eot?emi2zu');
  src:  url('#{$icomoon-font-path}/fidelity-icon-font.eot?emi2zu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/fidelity-icon-font.woff2?emi2zu') format('woff2'),
    url('#{$icomoon-font-path}/fidelity-icon-font.ttf?emi2zu') format('truetype'),
    url('#{$icomoon-font-path}/fidelity-icon-font.woff?emi2zu') format('woff'),
    url('#{$icomoon-font-path}/fidelity-icon-font.svg?emi2zu#fidelity-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fidelity-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-d-bold {
  &:before {
    content: $icon-chevron-d-bold;
  }
}
.icon-chevron-d-light {
  &:before {
    content: $icon-chevron-d-light;
  }
}
.icon-chevron-d-regular {
  &:before {
    content: $icon-chevron-d-regular;
  }
}
.icon-chevron-l-bold {
  &:before {
    content: $icon-chevron-l-bold;
  }
}
.icon-chevron-l-light {
  &:before {
    content: $icon-chevron-l-light;
  }
}
.icon-chevron-l-regular {
  &:before {
    content: $icon-chevron-l-regular;
  }
}
.icon-chevron-r-bold {
  &:before {
    content: $icon-chevron-r-bold;
  }
}
.icon-chevron-r-light {
  &:before {
    content: $icon-chevron-r-light;
  }
}
.icon-chevron-r-regular {
  &:before {
    content: $icon-chevron-r-regular;
  }
}
.icon-chevron-u-bold {
  &:before {
    content: $icon-chevron-u-bold;
  }
}
.icon-chevron-u-light {
  &:before {
    content: $icon-chevron-u-light;
  }
}
.icon-chevron-u-regular {
  &:before {
    content: $icon-chevron-u-regular;
  }
}
.icon-cross-bold {
  &:before {
    content: $icon-cross-bold;
  }
}
.icon-cross-light {
  &:before {
    content: $icon-cross-light;
  }
}
.icon-cross-regular {
  &:before {
    content: $icon-cross-regular;
  }
}
.icon-plus-bold {
  &:before {
    content: $icon-plus-bold;
  }
}
.icon-plus-light {
  &:before {
    content: $icon-plus-light;
  }
}
.icon-plus-regular {
  &:before {
    content: $icon-plus-regular;
  }
}
.icon-pdf-small {
  &:before {
    content: $icon-pdf-small;
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link;
  }
}
.icon-tick-bold {
  &:before {
    content: $icon-tick-bold;
  }
}
.icon-tick-light {
  &:before {
    content: $icon-tick-light;
  }
}
.icon-tick-regular {
  &:before {
    content: $icon-tick-regular;
  }
}
.icon-triangle-u {
  &:before {
    content: $icon-triangle-u;
  }
}
.icon-triangle-d {
  &:before {
    content: $icon-triangle-d;
  }
}
.icon-triangle-r {
  &:before {
    content: $icon-triangle-r;
  }
}
.icon-triangle-l {
  &:before {
    content: $icon-triangle-l;
  }
}
.icon-cog-14 {
  &:before {
    content: $icon-cog-14;
  }
}
.icon-globe-14 {
  &:before {
    content: $icon-globe-14;
  }
}
.icon-lock-14 {
  &:before {
    content: $icon-lock-14;
  }
}
.icon-calendar-14 {
  &:before {
    content: $icon-calendar-14;
  }
}
.icon-coinstack-14 {
  &:before {
    content: $icon-coinstack-14;
  }
}
.icon-medal-14 {
  &:before {
    content: $icon-medal-14;
  }
}
.icon-calendar-plus-14 {
  &:before {
    content: $icon-calendar-plus-14;
  }
}
.icon-person-filled-14 {
  &:before {
    content: $icon-person-filled-14;
  }
}
.icon-search-14 {
  &:before {
    content: $icon-search-14;
  }
}
.icon-mappin-filled-14 {
  &:before {
    content: $icon-mappin-filled-14;
  }
}
.icon-info-circle-filled-14 {
  &:before {
    content: $icon-info-circle-filled-14;
  }
}
.icon-info-circle-14 {
  &:before {
    content: $icon-info-circle-14;
  }
}
.icon-warning-triangle-filled-14 {
  &:before {
    content: $icon-warning-triangle-filled-14;
  }
}
.icon-warning-triangle-14 {
  &:before {
    content: $icon-warning-triangle-14;
  }
}
.icon-clock-14 {
  &:before {
    content: $icon-clock-14;
  }
}
.icon-computer-14 {
  &:before {
    content: $icon-computer-14;
  }
}
.icon-exit-left-14 {
  &:before {
    content: $icon-exit-left-14;
  }
}
.icon-person-circle-filled-14 {
  &:before {
    content: $icon-person-circle-filled-14;
  }
}
.icon-download-14 {
  &:before {
    content: $icon-download-14;
  }
}
.icon-squares-overlap-14 {
  &:before {
    content: $icon-squares-overlap-14;
  }
}
.icon-circle-arrow-back-14 {
  &:before {
    content: $icon-circle-arrow-back-14;
  }
}
.icon-card-cvc {
  &:before {
    content: $icon-card-cvc;
  }
}
.icon-clipboard-tick {
  &:before {
    content: $icon-clipboard-tick;
  }
}
.icon-verified {
  &:before {
    content: $icon-verified;
  }
}
.icon-newspaper {
  &:before {
    content: $icon-newspaper;
  }
}
.icon-factsheet-full {
  &:before {
    content: $icon-factsheet-full;
  }
}
.icon-letter-open {
  &:before {
    content: $icon-letter-open;
  }
}
.icon-post {
  &:before {
    content: $icon-post;
  }
}
.icon-spyglass {
  &:before {
    content: $icon-spyglass;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-person {
  &:before {
    content: $icon-person;
  }
}
.icon-account {
  &:before {
    content: $icon-account;
  }
}
.icon-check-mail {
  &:before {
    content: $icon-check-mail;
  }
}
.icon-help-circle {
  &:before {
    content: $icon-help-circle;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-person-lock {
  &:before {
    content: $icon-person-lock;
  }
}
.icon-lock-account {
  &:before {
    content: $icon-lock-account;
  }
}
.icon-letter {
  &:before {
    content: $icon-letter;
  }
}
.icon-messages {
  &:before {
    content: $icon-messages;
  }
}
.icon-smartphone {
  &:before {
    content: $icon-smartphone;
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-watchlist {
  &:before {
    content: $icon-watchlist;
  }
}
.icon-circle-tick {
  &:before {
    content: $icon-circle-tick;
  }
}
.icon-confirm {
  &:before {
    content: $icon-confirm;
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-line {
  &:before {
    content: $icon-star-line;
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled;
  }
}
.icon-star-fill {
  &:before {
    content: $icon-star-fill;
  }
}
.icon-ellipsis {
  &:before {
    content: $icon-ellipsis;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-warning-triangle-filled {
  &:before {
    content: $icon-warning-triangle-filled;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-warning-circle-filled {
  &:before {
    content: $icon-warning-circle-filled;
  }
}
.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-chart-plus {
  &:before {
    content: $icon-chart-plus;
  }
}
.icon-compare {
  &:before {
    content: $icon-compare;
  }
}
.icon-circle-minus {
  &:before {
    content: $icon-circle-minus;
  }
}
.icon-contract {
  &:before {
    content: $icon-contract;
  }
}
.icon-circle-plus {
  &:before {
    content: $icon-circle-plus;
  }
}
.icon-expand {
  &:before {
    content: $icon-expand;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-export {
  &:before {
    content: $icon-export;
  }
}
.icon-spyglass-chart {
  &:before {
    content: $icon-spyglass-chart;
  }
}
.icon-factsheet {
  &:before {
    content: $icon-factsheet;
  }
}
.icon-printer {
  &:before {
    content: $icon-printer;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-person-plus {
  &:before {
    content: $icon-person-plus;
  }
}
.icon-account-add {
  &:before {
    content: $icon-account-add;
  }
}
.icon-coins-sterling {
  &:before {
    content: $icon-coins-sterling;
  }
}
.icon-buy {
  &:before {
    content: $icon-buy;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-chart {
  &:before {
    content: $icon-chart;
  }
}
.icon-market {
  &:before {
    content: $icon-market;
  }
}
.icon-hand-coins {
  &:before {
    content: $icon-hand-coins;
  }
}
.icon-sell {
  &:before {
    content: $icon-sell;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-booklet-chart {
  &:before {
    content: $icon-booklet-chart;
  }
}
.icon-report {
  &:before {
    content: $icon-report;
  }
}
.icon-computer {
  &:before {
    content: $icon-computer;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;
  }
}
.icon-hand {
  &:before {
    content: $icon-hand;
  }
}
.icon-movie {
  &:before {
    content: $icon-movie;
  }
}
.icon-down-sort {
  &:before {
    content: $icon-down-sort;
  }
}
.icon-up-sort {
  &:before {
    content: $icon-up-sort;
  }
}
.icon-chevron-down-s {
  &:before {
    content: $icon-chevron-down-s;
  }
}
.icon-chevron-up-s {
  &:before {
    content: $icon-chevron-up-s;
  }
}
.icon-chevron-down-m {
  &:before {
    content: $icon-chevron-down-m;
  }
}
.icon-chevron-up-m {
  &:before {
    content: $icon-chevron-up-m;
  }
}
.icon-menu-burger {
  &:before {
    content: $icon-menu-burger;
  }
}
.icon-no-entry {
  &:before {
    content: $icon-no-entry;
  }
}
.icon-square {
  &:before {
    content: $icon-square;
  }
}
.icon-line {
  &:before {
    content: $icon-line;
  }
}
.icon-droplet {
  &:before {
    content: $icon-droplet;
  }
}
.icon-droplet-line {
  &:before {
    content: $icon-droplet-line;
  }
}
.icon-droplet-filled {
  &:before {
    content: $icon-droplet-filled;
  }
}
.icon-droplet-fill {
  &:before {
    content: $icon-droplet-fill;
  }
}
.icon-droplet-alt {
  &:before {
    content: $icon-droplet-alt;
  }
}
.icon-droplet-alt-line {
  &:before {
    content: $icon-droplet-alt-line;
  }
}
.icon-droplet-alt-filled {
  &:before {
    content: $icon-droplet-alt-filled;
  }
}
.icon-droplet-alt-fill {
  &:before {
    content: $icon-droplet-alt-fill;
  }
}
.icon-circle-right {
  &:before {
    content: $icon-circle-right;
  }
}
.icon-circle-wave {
  &:before {
    content: $icon-circle-wave;
  }
}
.icon-circle-zig {
  &:before {
    content: $icon-circle-zig;
  }
}
.icon-piggybank {
  &:before {
    content: $icon-piggybank;
  }
}
.icon-saving {
  &:before {
    content: $icon-saving;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-quantitative {
  &:before {
    content: $icon-quantitative;
  }
}
.icon-hand-point {
  &:before {
    content: $icon-hand-point;
  }
}
.icon-exit-right {
  &:before {
    content: $icon-exit-right;
  }
}
.icon-exit {
  &:before {
    content: $icon-exit;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-person-help {
  &:before {
    content: $icon-person-help;
  }
}
.icon-other-account {
  &:before {
    content: $icon-other-account;
  }
}
.icon-lock-tick {
  &:before {
    content: $icon-lock-tick;
  }
}
.icon-leaf {
  &:before {
    content: $icon-leaf;
  }
}
.icon-computer-tick {
  &:before {
    content: $icon-computer-tick;
  }
}
.icon-smartphone-chatbubble {
  &:before {
    content: $icon-smartphone-chatbubble;
  }
}
.icon-sms-alert {
  &:before {
    content: $icon-sms-alert;
  }
}
.icon-coinstack-cog {
  &:before {
    content: $icon-coinstack-cog;
  }
}
.icon-edit-income-settings {
  &:before {
    content: $icon-edit-income-settings;
  }
}
.icon-chevron-left-m {
  &:before {
    content: $icon-chevron-left-m;
  }
}
.icon-chevron-right-m {
  &:before {
    content: $icon-chevron-right-m;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.icon-medal {
  &:before {
    content: $icon-medal;
  }
}
.icon-awards {
  &:before {
    content: $icon-awards;
  }
}
.icon-bookmark-star {
  &:before {
    content: $icon-bookmark-star;
  }
}
.icon-favourites {
  &:before {
    content: $icon-favourites;
  }
}
.icon-smartphone-flip {
  &:before {
    content: $icon-smartphone-flip;
  }
}
.icon-mobile-flip {
  &:before {
    content: $icon-mobile-flip;
  }
}
.icon-back {
  &:before {
    content: $icon-back;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-stop {
  &:before {
    content: $icon-stop;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
  }
}
.icon-doc-spyglass {
  &:before {
    content: $icon-doc-spyglass;
  }
}
.icon-view-docs {
  &:before {
    content: $icon-view-docs;
  }
}
.icon-doc-pdf {
  &:before {
    content: $icon-doc-pdf;
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf;
  }
}
.icon-hand-docs {
  &:before {
    content: $icon-hand-docs;
  }
}
.icon-compare-file {
  &:before {
    content: $icon-compare-file;
  }
}
.icon-doc-stacked {
  &:before {
    content: $icon-doc-stacked;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-pencil-lock {
  &:before {
    content: $icon-pencil-lock;
  }
}
.icon-lock-edit {
  &:before {
    content: $icon-lock-edit;
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;
  }
}
.icon-attach {
  &:before {
    content: $icon-attach;
  }
}
.icon-coinstack {
  &:before {
    content: $icon-coinstack;
  }
}
.icon-currency {
  &:before {
    content: $icon-currency;
  }
}
.icon-controlpanel {
  &:before {
    content: $icon-controlpanel;
  }
}
.icon-expand-filters {
  &:before {
    content: $icon-expand-filters;
  }
}
.icon-browser-plus {
  &:before {
    content: $icon-browser-plus;
  }
}
.icon-new-window {
  &:before {
    content: $icon-new-window;
  }
}
.icon-chevron-right-s {
  &:before {
    content: $icon-chevron-right-s;
  }
}
.icon-chevron-left-s {
  &:before {
    content: $icon-chevron-left-s;
  }
}
.icon-circle-filled {
  &:before {
    content: $icon-circle-filled;
  }
}
.icon-circle-fill {
  &:before {
    content: $icon-circle-fill;
  }
}
.icon-circle-dashed {
  &:before {
    content: $icon-circle-dashed;
  }
}
.icon-circle-empty {
  &:before {
    content: $icon-circle-empty;
  }
}
.icon-bookmark-star-filled {
  &:before {
    content: $icon-bookmark-star-filled;
  }
}
.icon-favourites-filled {
  &:before {
    content: $icon-favourites-filled;
  }
}
.icon-doc-csv {
  &:before {
    content: $icon-doc-csv;
  }
}
.icon-csv {
  &:before {
    content: $icon-csv;
  }
}
.icon-logo-facebook {
  &:before {
    content: $icon-logo-facebook;
  }
}
.icon-logo-twitter {
  &:before {
    content: $icon-logo-twitter;
  }
}
.icon-logo-xing {
  &:before {
    content: $icon-logo-xing;
  }
}
.icon-logo-googleplus {
  &:before {
    content: $icon-logo-googleplus;
  }
}
.icon-logo-linkedin {
  &:before {
    content: $icon-logo-linkedin;
  }
}
.icon-logo-youtube {
  &:before {
    content: $icon-logo-youtube;
  }
}
.icon-messages-filled {
  &:before {
    content: $icon-messages-filled;
  }
}
.icon-openbook {
  &:before {
    content: $icon-openbook;
  }
}
.icon-doc-chevron-r {
  &:before {
    content: $icon-doc-chevron-r;
  }
}
.icon-doc-arrow-d {
  &:before {
    content: $icon-doc-arrow-d;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-share-filled {
  &:before {
    content: $icon-share-filled;
  }
}
.icon-person-double {
  &:before {
    content: $icon-person-double;
  }
}
.icon-chatbubble {
  &:before {
    content: $icon-chatbubble;
  }
}
.icon-chatbubble-letter {
  &:before {
    content: $icon-chatbubble-letter;
  }
}
.icon-chatbubble-letter-filled {
  &:before {
    content: $icon-chatbubble-letter-filled;
  }
}
.icon-calendar-circle-plus {
  &:before {
    content: $icon-calendar-circle-plus;
  }
}
.icon-mappin-filled {
  &:before {
    content: $icon-mappin-filled;
  }
}
.icon-coins-plus {
  &:before {
    content: $icon-coins-plus;
  }
}
.icon-coins-minus {
  &:before {
    content: $icon-coins-minus;
  }
}
.icon-arrows-left-right {
  &:before {
    content: $icon-arrows-left-right;
  }
}
.icon-abc-blocks {
  &:before {
    content: $icon-abc-blocks;
  }
}
.icon-beach-umbrella {
  &:before {
    content: $icon-beach-umbrella;
  }
}
.icon-piggybank-alt {
  &:before {
    content: $icon-piggybank-alt;
  }
}
.icon-three-people {
  &:before {
    content: $icon-three-people;
  }
}
.icon-circle-arrow-back {
  &:before {
    content: $icon-circle-arrow-back;
  }
}
.icon-circle-minus-filled {
  &:before {
    content: $icon-circle-minus-filled;
  }
}
.icon-circle-plus-filled {
  &:before {
    content: $icon-circle-plus-filled;
  }
}

